<!--
https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry

https://github.com/logstash/logstash-logback-encoder

-->

<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" >
      <fieldNames>
        <timestamp>timestamp</timestamp>
        <level>severity</level>
      </fieldNames>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="console" />
  </root>
</configuration>
